<html>
  <head>
    <title>Recognizer</title>
  </head>
  <body>
      <h1 style="text-align: center;">Detection page</h1>
<table style="height: 18px;" width="586">
<tbody>
<tr>
<td>
<p>Input document</p>
<p><img src={{im_big}} alt="" width="219" height="219" /></p>
</td>
<td>
<p>Detection results</p>
<table>
<tbody>
<tr>
<td>aftertax</td>
{{im1}}
<td><img src={{ims[0]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>comission</td>
<td><img src={{ims[1]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>tripdate</td>
<td><img src={{ims[2]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>traveller</td>
<td><img src={{ims[3]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>voucherdate</td>
<td><img src={{ims[4]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>duedate</td>
<td><img src={{ims[5]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>pretax</td>
<td><img src={{ims[6]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>pstreet</td>
<td><img src={{ims[7]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>pzip</td>
<td><img src={{ims[8]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>pcity</td>
<td><img src={{ims[9]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>cname</td>
<td><img src={{ims[10]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>cstreet</td>
<td><img src={{ims[11]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>czip</td>
<td><img src={{ims[12]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>currency</td>
<td><img src={{ims[13]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>vatpercent</td>
<td><img src={{ims[14]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>ccity</td>
<td><img src={{ims[15]}} alt="" width="172" height="20" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
  </body>
</html>
